{% extends 'base.html'%}
{% load static %}
{% block 'title' %}Criando sua dieta{%endblock%}
{%block 'sections'%}
<div class="body_create_diet">
    <div class="container_dados_ref">
        <div class="div_opçoes_de_ref">

        </div>
        <div class="container_refeiçoes_user">
            <div class="refeiçoes_user_one" ></div>
            <div class="refeiçoes_user_two"></div>
            <div class="refeiçoes_user_tree" ></div>
            <div class="refeiçoes_user_four"></div>
            <div class="refeiçoes_user_five"></div>
            <div class="refeiçoes_user_six"></div>
        </div>
    </div>
    <div class="tabela_taco">
        <div class="container_tabela_taco">
            <table class="body_tabela_Taco">
                <thead class="titulos_tabela" >
                    <tr>
                        <th class="th_alimento">alimento</th>
                        <th class="th_kcal">Kcal</th>
                        <th class="th_prot">Proteina</th>
                        <th class="th_carb">Carboidratos</th>
                        <th class="th_gordura">Gordura</th>
                    </tr>
                </thead>
                <tbody class="alimentos_tabela_Taco">
                    <tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr>
                    <tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr>
                    <tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr>
                    <tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr>
                    <tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr><tr>
                        <td class="td_alimento">valor_alimento</td>
                        <td class="td_kcal">valor_kcal</td>
                        <td class="td_prot">valor_proteina</td>
                        <td class="td_carb">valor_carb</td>
                        <td class="td_gordura">valor_gord</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}