{% extends 'base.html'%} {% load static %} 
{% block 'title' %}Criando sua dieta{%endblock%} 
{%block 'sections'%}
<div class="body_create_diet">
  {%if messages%} {%for message in messages%}
  <div class="erro">
    <div class="messagem_de_erro"><label for="">{{message}}</label></div>
  </div>
  {%endfor%} {%endif%}
  <div class="container_dados_ref">
    <div class="div_opçoes_de_ref">
      <div class="container_dados_dieta_user">
        <div class="dados_dieta_user_linha1">
          <label for="">Gasto calorico médio: <strong>2300</strong></label>
          <label for="">Caloria dieta: <strong>1900</strong></label>
          <label for="">
            Valor Total das refeições:
            <br/>
            <strong id="valores_total_de_todas_refeicao"></strong>
          </label><!-- aqui dentro do strong vai a somar de todos os valores da ref -->
        </div>
        <div class="dados_dieta_user_linha2">
          <!--é feito um calculo de proteina(4 calorias)*2,gordura(9 calorias)*0.5 e carbo(4 calorias)*restante de calorias -->
          <label for=""
            >Max de proteina: <strong id="valores_total_de_proteina">156</strong
            ><!--2*78 (no 78 é o peso) /calculo proteina=624 calorias--></label
          >
          <label for=""
            >Max de Gordura: <strong id="valores_total_de_gordura">62</strong
            ><!--0.8*78(meu peso)/ calculo gordura=561 calorias--></label
          >
          <!--somo as calorias acima 624 + 561=1185-1900=715-->
          <label for=""
            >Max de Carboidratos:
            <strong id="valores_total_de_carboidratos">178</strong
            ><!--4\715(restante de calorias)/ calculo carboidratos=178G de carb--></label
          >
          <label for=""
            >Max de Kcal: <strong id="valor_total_das_kcal">1900</strong
            ><!--soma das contas acima--></label
          >
        </div>
        <div class="dados_dieta_user_linha3">
          <label for=""
            >Max de proteina por refeição:
            <strong id="proteina_max_ref_user">Value</strong></label
          >
          <label for=""
            >Max de Gordura por refeição:
            <strong id="gordura_max_ref_user">Value</strong></label
          >
          <label for=""
            >Max de Carboidratos por refeição:
            <strong id="carboidratos_max_ref_user">Value</strong></label
          >
          <label for=""
            >Max de Kcal por refeição:
            <strong id="calorias_max_ref_user">Value</strong></label
          >
        </div>
        <div class="dados_dieta_user_opcoes">
          <div class="dados_dieta_user_quant_ref">
            <span>
              <label for="">Quantidade de refeiçôes</label>
              <select
                name="quantidade_de_refeicoes"
                id="quantidade_de_refeicoes"
              >
                <option value="2">2 refeiçôes</option>
                <option value="3">3 refeiçôes</option>
                <option selected="4" value="4">4 refeiçôes</option>
                <option value="5">5 refeiçôes</option>
                <option value="6">6 refeiçôes</option>
              </select>
            </span>
          </div>
          <div class="dados_dieta_user_quant_prot">
            <span>
              <label for="">Quantidade de Proteina</label>
              <select name="quantidade_de_proteina" id="quantidade_de_proteina">
                <option selected="2" value="">2.0G por kilo</option>
                <option value="1.8">1.8G por kilo</option>
                <option value="1.6">1.6G por kilo</option>
              </select>
            </span>
          </div>
          <button
            class="button_macros"
            onclick="macros_dieta_user()"
            type="button"
          >
            Macros
          </button>
        </div>
      </div>
    </div>
    <form action="" method="post" class="container_refeiçoes_user">{% csrf_token %}
      <div class="refeicoes_user_one">
        <div class="alimentos_refeicoes_one">
          <label id="alimentos_linha_1_ref_1" for="" name="alimento_11"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_11" id="quanti_row1_ref_1">
          <input type="hidden" id="kcal_total_row1_ref_1" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_1" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_1" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_1" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_1" for="" name="alimento_12"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_12" id="quanti_row2_ref_1">
          <input type="hidden" id="kcal_total_row2_ref_1" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_1" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_1" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_1" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_1" for="" name="13"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_13" id="quanti_row3_ref_1">
          <input type="hidden" id="kcal_total_row3_ref_1" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_1" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_1" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_ref_1" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_one">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_one"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_one"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_one"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_one"></strong>
          </label>
          <input type="button" id="button_macros_ref" onclick="macros_refeicao(1)" value="Macros refeição" >
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(6)" name="" value="limpar">
        </div>
      </div>
      <div class="refeicoes_user_two">
        <div class="alimentos_refeicoes_two">
          <label id="alimentos_linha_1_ref_2" for="" name="21"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_21" id="quanti_row1_ref_2">
          <input type="hidden" id="kcal_total_row1_ref_2" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_2" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_2" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_2" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_2" for="" name="22"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_22" id="quanti_row2_ref_2">
          <input type="hidden" id="kcal_total_row2_ref_2" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_2" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_2" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_2" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_2" for="" name="23"></label><input type="number" placeholder="quantidade do alimento" name="quant_ref_23" id="quanti_row3_ref_2">
          <input type="hidden" id="kcal_total_row3_ref_2" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_2" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_2" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_ref_2" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_two">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_two"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_two"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_two"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_two"></strong>
          </label>
          <input type="button"  id="button_macros_ref"  onclick="macros_refeicao(2)"  value="Macros refeição" >
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(2)" name="" value="limpar">
        </div>
      </div>
      <div class="refeicoes_user_tree">
        <div class="alimentos_refeicoes_tree">
          <label id="alimentos_linha_1_ref_3" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row1_ref_3">
          <input type="hidden" id="kcal_total_row1_ref_3" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_3" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_3" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_3" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_3" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row2_ref_3">
          <input type="hidden" id="kcal_total_row2_ref_3" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_3" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_3" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_3" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_3" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row3_ref_3">
          <input type="hidden" id="kcal_total_row3_ref_3" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_3" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_3" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_ref_3" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_tree">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_tree"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_tree"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_tree"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_tree"></strong>
          </label>
          <input type="button"  id="button_macros_ref" onclick="macros_refeicao(3)" value="Macros refeição" >
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(3)" name="" value="limpar">
        </div>
      </div>
      <div class="refeicoes_user_four">
        <div class="alimentos_refeicoes_four">
          <label id="alimentos_linha_1_ref_4" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row1_ref_4">
          <input type="hidden" id="kcal_total_row1_ref_4" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_4" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_4" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_4" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_4" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row2_ref_4">
          <input type="hidden" id="kcal_total_row2_ref_4" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_4" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_4" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_4" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_4" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row3_ref_4">
          <input type="hidden" id="kcal_total_row3_ref_4" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_4" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_4" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_ref_4" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_four">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_four"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_four"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_four"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_four"></strong>
          </label>
          <input type="button"  id="button_macros_ref" onclick="macros_refeicao(4)"  value="Macros refeição" >
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(4)" name="" value="limpar">
        </div>
      </div>
      <div class="refeicoes_user_five">
        <div class="alimentos_refeicoes_five">
          <label id="alimentos_linha_1_ref_5" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row1_ref_5">
          <input type="hidden" id="kcal_total_row1_ref_5" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_5" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_5" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_5" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_5" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row2_ref_5">
          <input type="hidden" id="kcal_total_row2_ref_5" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_5" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_5" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_5" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_5" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row3_ref_5">
          <input type="hidden" id="kcal_total_row3_ref_5" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_5" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_5" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_re1f_5" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_five">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_five"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_five"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_five"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_five"></strong>
          </label>
          <input type="button"  id="button_macros_ref" onclick="macros_refeicao(5)" value="Macros refeição" >
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(5)" name="" value="limpar">
        </div>
      </div>
      <div class="refeicoes_user_six">
        <div class="alimentos_refeicoes_six">
          <label id="alimentos_linha_1_ref_6" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row1_ref_6">
          <input type="hidden" id="kcal_total_row1_ref_6" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row1_ref_6" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row1_ref_6" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row1_ref_6" name="carb_total_hidden" value="">
          <label id="alimentos_linha_2_ref_6" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row2_ref_6">
          <input type="hidden" id="kcal_total_row2_ref_6" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row2_ref_6" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row2_ref_6" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row2_ref_6" name="carb_total_hidden" value="">
          <label id="alimentos_linha_3_ref_6" for=""></label><input type="number" placeholder="quantidade do alimento" name="" id="quanti_row3_ref_6">
          <input type="hidden" id="kcal_total_row3_ref_6" name="kcal_total_hidden" value="">
          <input type="hidden" id="prot_total_row3_ref_6" name="prot_total_hidden" value="">
          <input type="hidden" id="gord_total_row3_ref_6" name="gord_total_hidden" value="">
          <input type="hidden" id="carb_total_row3_ref_6" name="carb_total_hidden" value="">
        </div>
        <div class="macros_refeicoes_six">
          <label for=""
            >Kcal total: <strong id="calorias_da_ref_six"></strong>
          </label>
          <label for=""
            >Proteina total: <strong id="proteina_da_ref_six"></strong>
          </label>
          <label for=""
            >Gordura total: <strong id="gordura_da_ref_six"></strong>
          </label>
          <label for=""
            >Carboidratos total: <strong id="carboidratos_da_ref_six"></strong>
          </label>
          <input type="button"  id="button_macros_ref" onclick="macros_refeicao(6)" value="Macros refeição">
          <input type="button" id="limpar_ref" onclick="limpar_refeicao(6)" name="" value="limpar">
        </div>
      </div>
      <button type="submit">Salvar dieta</button>
    </form>
  </div>
  <div class="tabela_taco">
    <div class="container_tabela_taco">
      <label style="color: white; text-decoration:underline red;" for=""
        >Valores referente a 100G</label
      >
      <input 
        type="text"
        id="txtBusca"
        placeholder="buscar alimento desejavel"
        class="campo_de_busca_taco"
      />
      <table class="body_tabela_Taco">
        <thead class="titulos_tabela">
          <tr>
            <th class="th_alimento">alimento</th>
            <th class="th_kcal">Kcal</th>
            <th class="th_prot">Proteina</th>
            <th class="th_gordura">Gordura</th>
            <th class="th_carb">Carboidratos</th>
          </tr>
        </thead>
        <tbody id="alimentos_tabela_Taco">
          {%for info in taco%}
          <tr class="row_alimentos" onclick="adicionar_alimento(this)">
            <td id="td_alimento_1" class="td_alimento_1">{{info.name}}</td>
            <td class="td_kcal">{{info.kcal}}kcal</td>
            <td class="td_prot">{{info.protein}}g</td>
            <td class="td_gordura">{{info.fat}}g</td>
            <td class="td_carb">{{info.carbo}}g</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if contacts.has_previous %}
          <a href="?page={{ contacts.previous_page_number }}">Anterior</a>
          {% endif %}

          <span class="current">
            Página {{ contacts.number }} De {{ contacts.paginator.num_pages }}.
          </span>

          {% if contacts.has_next %}
          <a href="?page={{ contacts.next_page_number }}">Próxima</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}
