<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block 'title'%}home{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    {%block 'sections'%}
    <div class="container_main">
        <div class="containar_welcome">
            <div class="div_message_wel">
                <label for="">Welcome</label>
            </div>
        </div>
        <div class="div_introduçao">
            <div class="conteudo_alimentar">
                <div class="text_alimentar">
                    <label for="">
                        Texto de introduçao aos beneficios a alimentação saudavel
                    </label>
                </div>
                <a href=""> Dê seus primeiros passos <i class="fa-solid fa-shoe-prints"></i></a>
            </div>
            <div class="conteudo_sobre_site">
                <div class="text_sobre_site">
                    <label for="">
                        <h2>Jovem Programador Nutrients</h2>
                        <p>Projeto realizado pelo os alunos <a href="https://github.com/vitoradsp">Vitor</a>, <a href="https://github.com/Fabianbatistasilva">Fabian Batista</a> e <a href="https://github.com/CorteRealRodrigo">Rodrigo Corte</a>
                            em conjuto ao <a href="https://portal.sc.senac.br/portal/home/default.aspx">Senac</a> Usando a linguagem Python com o framework Django
                        </p>
                        <p>
                            Neste projeto realizado no nicho de saúde e bem-estar utilizamos uma <a href="https://github.com/vitoradsp/API-Taco">Api da tabela Taco</a>
                            que nós mesmo criamos para realizamos um site unico e propor uma quantidade de alimentos para facilitar
                            o alcance ao seu objetivo, seja ele bem-estar ou ambição de um corpo atletico
                        </p>
                    </label>
                </div>
                <label for=""><a href=""> <i class="fa-brands fa-linkedin-in"></i> Vitor </a> <a href="https://www.linkedin.com/in/fabian-batista-965420214/"> <i class="fa-brands fa-linkedin-in"></i> Fabian </a> <a href="https://www.linkedin.com/in/rodrigo-corte-real-b5640023b/"> <i class="fa-brands fa-linkedin-in"></i> Rodrigo </a> </label>
            </div>
        </div>Vitor 
    </div>
    {%endblock%}
</body>
</html>