{% extends 'base.html'%} 
{% load static %}
{% block 'title' %}Introdução{%endblock%}
{%block 'sections' %}
<div class="body_intro">
  <div class="container_criar_dieta">
    <a class="buttom_criar_intro" href="">criar dieta</a>
  </div>
  <div class="obj_manter">
    <a  class="local_click_manter"  href="">
      <label class="titulo_manter" for="">Manter</label>
      <hr>
      <p  class="texto_manter">
        Você está no peso certo? O <strong>equilíbrio corporal</strong>  (resultado do nosso peso em relação à nossa altura) é um dos mais criteriosos preceitos da vida saudável, contudo, parece ainda está longe de ser alcançado pelas pessoas. De acordo com o Ministério da Saúde, metade da população brasileira está fora de seus padrões -tanto para a obesidade, quanto para a magreza excessiva-e a falta de cuidados com a alimentação é um dos principais fatores dessa ocorrência.Para uma perda de peso eficiente, deve-se fazer uma redução da medida calórica e mantendo vitaminas, minerais e macronutrientes equilibrados (50 – 60% de bons carboidratos, 25 – 30% de proteínas e de 15 à 20% de gorduras boas). Já para o ganho de peso (hipertrofia), além do equilíbrio de bons carboidratos, deve-se ficar de olho na quantidade de proteínas por quilo de peso, que varia de pessoa para pessoa (em torno de 1,8 a 2,2 g de proteína por quilo de peso, ou mais).
      </p>
    </a>
  </div>
  <div class="obj_cutting">
    <a class="local_click_cutting" href="">
      <label class="titulo_cutting" for="">Cutting</label>
      <hr>
      <p class="texto_cutting">
        A <strong>dieta cutting</strong>
        Cutting: o que é, como fazer e o que comer
        O cutting é um processo que tem como objetivo perder gordura sem que haja grande perda de massa muscular para que dessa forma seja possível ter maior definição dos músculos. Assim, com o cutting é possível perder o excesso de ganho peso por meio da transformação para massa muscular.
        
        Apesar de ser utilizado principalmente por atletas de fisiculturismo, o cutting também pode ser feito por pessoas que desejam secar e, assim, adquirir maior definição muscular. Para isso, é importante que o plano alimentar seja recomendado por um nutricionista esportivo de acordo com as necessidades nutricionais e objetivos da pessoa e que o treino seja realizado sob orientação de um profissional de educação física.
        
        O bulking e o cutting são estratégias utilizadas principalmente por fisiculturistas com o objetivo de garantir maior quantidade de massa muscular, menor quantidade de gordura corporal e maior definição dos músculos. Enquanto que o bulking é realizado na off-season, ou seja, em épocas em que não existem competições, o cutting é feito na fase de preparação da competição.
      </p>
    </a>
  </div>
  <div class="obj_bulking">
    <a class="local_click_bulking" href="">
      <label class="titulo_bulking" for="">Bulking</label>
      <hr>
      <p class="texto_bulking">
        A <strong>dieta bulking</strong>
        Bulking é o nome dado ao processo de ganho de massa muscular, considerado a primeira etapa para alcançar a tão desejada hipertrofia dos músculos. Basicamente, o bulking consiste em um período no qual existe um consumo maior de calorias, gerando um aumento de peso e, consequentemente, da força dos músculos¹.

        Além disso, o bulking precede o cutting, que é o momento de reduzir a quantidade de calorias ingeridas para que o foco seja justamente o ganho de massa magra¹. Tanto o bulking, quanto o cutting, são processos comumente realizados por fisiculturistas e atletas, porém qualquer pessoa que desejar alcançar o corpo ideal pode entrar em contato com profissionais para realizar o processo de forma segura e saudável.
      </p>
    </a>
  </div>
</div>
{% endblock %}
