<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav>
            <div class="select_home">
                <a href="{%url 'home'%}">
                    <img src="{% static 'img\logo_jovem_programador.png' %}" alt="">
                </a>
            </div>
        </nav>
    </header>
<div class="container_cadastro">
{%if messages%}
{%for message in messages%}
<div class="erro">
    <div class="messagem_de_erro"><label for="">{{message}}</label></div>
</div>
{%endfor%}
{%endif%} 
    <div class="cadastro">
        <form class="form_cadastro" action="" method="POST">{% csrf_token %}
            <label  class="text_cadastro" for="">CADASTRO</label> 
            <input placeholder="Usuario" class="user_cadastro" type="text" name="username" id="">
            <input placeholder="Senha" class="senha_cadastro" type="password" name="password" id="">
            <input placeholder="Conf. Senha" class="senha_cadastro_conf" type="password" name="conf_password" id="">
            <input placeholder="@email.com" class="email_cadastro" type="email" name="email" id="">
            <button class="efetuar_cadastro" type="submit">Criar</button>
            <a class="cadastro_login" href="{% url 'login' %}">Voltar ao Login</a>
        </form>
    </div>
</div>  
</body>
</html>