{% extends 'base.html' %}
{%block 'sections'%}
<title>{%block 'title'%}tmb{%endblock%}</title>
{%if messages%}
    {%for message in messages%}
        <script>
            alert("{{message}}")
        </script>
    {%endfor%}
{%endif%}
<!-- Adicionar valor TMB em flax (css) --> 
<div class="tela_tmb">      
    <form action="" method="post">{% csrf_token %}
        <div class="valor_tmb">
            <h2>Valor de injestao diária</h2>
            <label for="">Seu gasto parado é de 2500kcal </label>
            <label for="">Com base no seu objetivo (Bulking) você deve ingerir 3000kcal </label>
            <button class="btn_tmb1" type="submit">Criar Dieta</button>
        </div>
        <div class="objetivo">
            <p>Objetivo:</p>
            <select name="" id="">
                {% for c in objetivo %}
                <option value="">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="peso">
            <p> Peso: </p>
            <input type="number" placeholder="Nun. Int.">
        </div>
        <div class="altura">
            <p>Altura: </p>
            <input type="number" placeholder="cm">
        </div>
        <div class="idade">
            <p>Idade: </p>
            <input type="number" placeholder="anos">
        </div>
        <div class="sexo">
            <p>Sexo: </p> 
            <p><input type="radio" name="opcao" value="masculino"> Masculino</p> 
            <p><input type="radio" name="opcao" value="feminino"> Feminino</p>
        </div>
        <button class="btn_tmb" type="submit">Gerar TMB</button>
        
    </form>
</div>
{%endblock%}