html,body{
    width: 100%;
    margin:0px;
}
/* estilo base.html*/
header,nav{
    width: 100%;
    height: 140px;
    background: #0e274d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:#C4C4C4 3px solid;
}
/*mensagem de erro*/
.erro{
    margin-top:20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.messagem_de_erro{
    width:35%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.603);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border: black solid 2px;
    border-radius: 15px;
}
/**/

.select_home{
    width: 280px;
    height: 80px;
}
.select_home > a,.select_home > a > img{
    width: 100%;
    height: 100%;
}
.select_opçoes{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 80px;
    background: rgba(238, 238, 238, 0.1);
    border-radius: 5px;
}
.select_opçoes>div{
    width: 100px;
    height: 40px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.criar_diet>a{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black ;
    background-color: #FFFCFC ;
    border-radius: 5px;
    padding: 7px;
}
.user > details{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black ;
    background-color: #FFFCFC ;
    border-radius: 5px;
    padding: 5px;
}
.user > details > summary{
    width: 100%;
    height: 100%;
    margin-top:10px;
}
.user > details > a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black ;
    background-color: #FFFCFC ;
    border-radius: 5px;
    margin-bottom: 6px;
    padding: 3px;
    border: #000000 1px solid;
}