
html,body{
    width: 100%;
    margin:0px;
}
/* estilo base.html*/
header,nav{
    width: 100%;
    height: 140px;
    background: #0E274D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:#C4C4C4 3px solid;
}
/*mensagem de erro*/
.erro{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.messagem_de_erro{
    width:35%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.603);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border: black solid 2px;
    border-radius: 15px;
}
/**/

.select_home{
    width: 280px;
    height: 80px;
}
.select_home > a,.select_home > a > img{
    width: 100%;
    height: 100%;
}
.select_opçoes{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 80px;
    background: rgba(238, 238, 238, 0.1);
    border-radius: 5px;
}
.select_opçoes>div{
    width: 100px;
    height: 40px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.user>a,.criar_diet>a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black ;
    background-color: #FFFCFC ;
    border-radius: 5px;
    padding: 5px;
}
/*body das paginas */
.container_main{
    width: 100%;
    height: 100vh;
}
.containar_welcome{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    background-image:url("https://img.freepik.com/fotos-gratis/fitness-comida-saudavel-alimentos-fontes-de-omega-3-na-vista-superior-do-fundo-escuro-alimentos-ricos-em-acidos-graxos-incluindo-vegetais-frutos-do-mar-nozes-e-sementes_118925-1411.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: #0E274D 5px 5px 15px 10px;
}
.div_message_wel{
    text-align: center;
    width: 40%;
    height: 150px;
    background: rgba(0, 0, 0, 0.27);
}
.div_message_wel > label{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 155px;
    text-align: center;
    color: #FFFFFF;
}
.div_introduçao{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.conteudo_alimentar,.conteudo_sobre_site{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35%;
    height: 300px;
    background: #0E274D;
    border-radius:10px;
    padding: 15px;
}
.conteudo_sobre_site > label{
    display:flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 5px;
    padding: 5px;
}
.conteudo_sobre_site > label >a{
    color:black;
    font-size: 16px;
    background-color: #C4C4C4;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}
.conteudo_alimentar>a{
    text-decoration: none;
    gap: 10px;
    padding: 5px;
    margin-top: 15px;
    background-color: #C4C4C4;
    display: flex;
    height: 25px;
    border-radius: 5px;
    color: #0E274D;
    font-size: 16px;
    font-weight: 700;
}
.text_alimentar{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
    background: rgba(253, 253, 253, 0.3);
    border-radius: 5px;
}
.text_sobre_site{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
    background: rgba(253, 253, 253, 0.3);
    border-radius: 5px;
}
.text_alimentar > label{
    width: 80%;
    text-align: justify;
    color: white;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.text_sobre_site >label{
    width: 80%;
    text-align: justify;
    color: white;
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
.text_sobre_site > label > p > a{
    font-weight: bolder;
    color: black;
}
/*login e cadastro */
.container_login,.container_cadastro{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
.login,.cadastro{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_login,.form_cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 500px;
    background-color: #0E274D;
    gap: 30px;
    border-radius: 10px;
}
.text_login,.text_cadastro{
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.user_login,.senha_login,.email_cadastro,.senha_cadastro_conf{
    width: 200px;
    text-align: center;
    height: 22px;
    font-weight: 600;
    font-size: 19px;
    border-radius: 10px;
    padding: 5px;
}
.efetuar_login,.efetuar_cadastro{
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.cadastro_login{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
.cadastro_login:hover{
    background-color: #C4C4C4;
    border-radius: 10px;
    border: #000000 1.5px solid;
    padding: 10px;
    color: #0E274D;
}
.cadastro_login:active{
    background-color: green;
    color: white;
}
.efetuar_login:active,.efetuar_cadastro:active{
    background-color: green;
    color: #FFFCFC;
}
/* introdução*/
.body_intro{
    display: grid;
    grid-template-areas:'botao botao botao' 'manter cutting bulking ';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50px 1fr;
    gap: 20px;
}
.container_criar_dieta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
.buttom_criar_intro{
    width: 200px;
    height: 40px;
    background-color: rgba(1, 1, 1, 0.8);
    text-align: center;
    font-size: 30px;
    color: #C4C4C4;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}
/*texto sobre objetivo manter*/
.obj_manter{
    display: grid;
    text-align: center;
    grid-area: manter;
    padding-left: 55px;
}
.local_click_manter{
    text-decoration: none;
    width: 100%;
}
.titulo_manter{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_manter{
    width: 90%;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
/*texto sobre objetivo manter*/
.obj_cutting{
    display: grid;
    text-align: center;
    grid-area: cutting;
}
.local_click_cutting{
    text-decoration: none;
    width: 100%;
}
.titulo_cutting{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_cutting{
    width: 90%;
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
/*texto sobre objetivo manter*/
.obj_bulking{
    display: grid;
    text-align: center;
    grid-area: bulking;
    padding-right: 55px;
}
.local_click_bulking{
    text-decoration: none;
    width: 100%;
}
.titulo_bulking{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_bulking{
    width: 90%;
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
/*criar dieta*/
/*refeiçoes e macros do User*/
.body_create_diet{
    width: 95vw;
    height: 100%;
    display: grid;
    grid-template-areas: 'dados'  'taco';
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-left: 50px;
    padding-bottom: 100px;
}
.container_dados_ref{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'opçoes' 'refeicoes';
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    gap: 45px;
    justify-items: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.8);
    margin-top: 40px;
    border-radius: 15px;
}
.div_opçoes_de_ref{
    width: 90%;
    height: 100%;
    grid: opçoes;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-top: 50px;
    padding: 15px;
    align-self: center;
}
.container_dados_dieta_user{
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    border-radius: 15px;
    box-shadow: black 5px 3px 8px 3px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align:justify;
    gap: 10px;
}
.dados_dieta_user_linha1{
    width:  120px;
    height: 80%;
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    text-align:justify;
    flex-direction: column;
    justify-items: center;
    font-weight: 600;
    border-radius: 10px;
}
.dados_dieta_user_linha1 > label > strong{
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    color: #FFFCFC;
    background-color: #0E274D;
}
.dados_dieta_user_linha2{
    background-color: #FFFFFF;
    width:  180px;
    height: 80%;
    padding: 5px;
    display: flex;
    text-align:justify;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    font-weight: 600;
}
.dados_dieta_user_linha2 > label > strong{
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    color: #FFFCFC;
    background-color: #0E274D;
}
.dados_dieta_user_linha3{
    background-color: #FFFFFF;
    width:  300px;
    height: 80%;
    padding: 5px;
    display: flex;
    text-align:justify;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    font-weight: 600;
}
.dados_dieta_user_linha3 > label > strong{
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    color: #FFFCFC;
    background-color: #0E274D;
}
.dados_dieta_user_opcoes{
    width: 180px;
    height: 70%;
    background-color: #FFFFFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-items: center;
    font-weight: 700;
    gap: 7px;
}
.dados_dieta_user_quant_prot > span > select {
    width: 100%;
    text-align: center;
}
.dados_dieta_user_quant_ref > span > select {
    width: 100%;
    text-align: center;
}
.button_macros{
    width: 100%;
    font-weight: 700;
    border: #000000 solid 1px;
    border-radius: 15px;
    color: darkorange;
    background-color: #0e274dc4;
}
.button_macros:hover{
    width: 100%;
    font-weight: 600;
    border: #000000 solid 1px;
    border-radius: 15px;
    color: white;
    background-color: #0E274D;
    transition: 1s;
}
/*refeiçoes e macros da refeição*/
.container_refeiçoes_user{
    width: 90%;
    height: 95%;
    grid: refeicoes;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    padding: 15px;
    gap: 35px;
}
.refeiçoes_user_one,.refeiçoes_user_two,.refeiçoes_user_tree,.refeiçoes_user_four,.refeiçoes_user_five,.refeiçoes_user_six{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #C4C4C4;
}


/*tabela taco*/
.container_tabela_taco{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-items: center;
    background-color: rgba(1, 1, 1, 0.8);
    margin-top: 40px;
    padding: 30px;
    text-transform: capitalize;
    gap: 10px;
}
.campo_de_busca_taco{
    width: 97%;
    text-align: center;
    height: 20px;
    padding: 4px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: black 3px solid;
    border-radius: 10px;
}

.body_tabela_Taco{
    justify-items: center;
    width: 100%;
    height: 1100px;
    padding: 25px;
    background-color: rgba(1, 1, 1, 0.6); ;
    border-radius: 10px;
}
/*TITULO DA TABELA TACO */
.titulos_tabela{
    width: 100%;
    height: 40px;
    color: #000000;
    background-color: #FFFCFC;
    padding: 10px;
}
.titulos_tabela > tr{
    width: 100%;
    height: 100%;
    padding: 5px;
}
.th_alimento,.th_kcal,.th_prot,.th_carb,.th_gordura{
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
}
/*DADOS DA TABELA TACO */
#alimentos_tabela_Taco{
    background-color: #FFFFFF;
    width: 100%;
    height: 900px;
}
#alimentos_tabela_Taco > tr{
    display: table-row;
    width: 90%;
    height: 20px;
    padding: 20px;
    font-size: 16px;
    cursor:grabbing;
}

#alimentos_tabela_Taco > tr:nth-child(even):hover{
    background-color: #0E274D;
    color: #FFFCFC;
}
#alimentos_tabela_Taco > tr:nth-child(odd){
    background-color: #C4C4C4;
}
#alimentos_tabela_Taco > tr:nth-child(odd):hover{
    background-color: darkorange ;
    color: white;
}
/*tela tmb*/
.tela_tmb{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.tela_tmb > form{
    margin-top: 50px;
    width: 600px;
    height: 800px;
    background-color: #0E274D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #000000 10px 10px 10px 10px;
}
.peso, .altura, .idade, .sexo, .objetivo, .nivel_ati{
    margin: 10px;
}

.tela_tmb > form > .objetivo > p, .peso > p, .altura > p, .idade > p, .sexo > p, .objetivo > p, .nivel_ati > p{
    margin: 0;
    color: white;
    font-size: 30px;
}
.objetivo > input, .peso > input, .altura > input, .idade > input, .sexo > input, .nivel_ati{
    font-size: 18px;
    width: 100px;
    text-align: center;
}
.valor_tmb{
    display: none;
    /*display: flex;*/
    flex-direction: column;
    border: solid 2px white;
    padding: 0 10px 10px 10px;
}
.valor_tmb > h2{
    color: white;
}
.valor_tmb > label{
    font-weight: bold;
    color: white;

}
.objetivo > select, .nivel_ati > select{
    font-size: 20px;
}
.sexo{
    color: white;
    margin-right: -30px;
}
.btn_tmb{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}
.btn_tmb1{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: auto;
    margin-top: 10px;
}
.objetivo{
    margin-right: -20px;
}
.nivel_ati{
    margin-left: -1px;
}