*{
    margin: 0;
    padding: 0;
}

.diet{
    background-image:url("https://www.paho.org/sites/default/files/alimentacao-saudavel-diversificada.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
}

table{
    width: 900px;
    margin-top: 30px;
    background-color: #0e274de7;
    border-radius: 5px;
    box-shadow: #000000 10px 10px 10px 10px;
    justify-items: center;
    margin: 0 auto;
    padding: 2rem;
}
.value_diet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.value_diet > table{
    display: flex;
    flex-direction: column ;
    color: white;
    

}
.button_print{
    width: 20%;
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    appearance: none;
    color: black;
    background-color: gray;
    cursor: grab;
    color: white;
}
.button_print:hover{
    color: greenyellow;
    cursor: grab;
}

.value_diet > table > thead > tr > th{
 
    border-radius: 5px;
    text-align: center ;
    width: 450px;
    font-size: 30px;
}

.value_diet > table > tbody > tr > td{
    border: solid 1px black;
    border-radius: 5px;
    width: 450px;
    padding: 5px;
    padding-left: 10px;   
}

.quant{
    text-align: center ;
    font-size: 25px;
}

.nun_ref{
    width: 900px;
    display: flex;
    justify-content: center;
}

.nome{
    font-size: 25px;
}

@media (max-width: 414px) {

    table{
        width: 500px;
        margin-top: 30px;
        background-color: #0e274de7;
        border-radius: 5px;
        box-shadow: #000000 10px 10px 10px 10px;
        justify-items: center;
        margin: 0 auto;
    }
    
    .value_diet > table > thead > tr > th{
 
        border-radius: 5px;
        text-align: center ;
        width: 250px;
        font-size: 20px;
    }
    
    .value_diet > table > tbody > tr > td{
        border: solid 1px black;
        border-radius: 5px;
        width: 250px;
        padding: 5px;
        padding-left: 10px;   
    }
    
    .quant{
        text-align: center ;
        font-size: 15px;
    }
    
    .nun_ref{
        width: 500px;
        display: flex;
        justify-content: center;
    }
    
    .nome{
        font-size: 15px;
    }
}



@media print{
    .button_print{
        display: none;
    }
}