/* introdução*/
.body_intro{
    display: grid;
    grid-template-areas: 'manter cutting bulking ';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

/*texto sobre objetivo manter*/
.obj_manter{
    display: grid;
    text-align: center;
    grid-area: manter;
    padding-left: 55px;
}
.local_click_manter{
    text-decoration: none;
    width: 100%;
}
.titulo_manter{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_manter{
    width: 90%;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
/*texto sobre objetivo manter*/
.obj_cutting{
    display: grid;
    text-align: center;
    grid-area: cutting;
}
.local_click_cutting{
    text-decoration: none;
    width: 100%;
}
.titulo_cutting{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_cutting{
    width: 90%;
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
/*texto sobre objetivo manter*/
.obj_bulking{
    display: grid;
    text-align: center;
    grid-area: bulking;
    padding-right: 55px;
}
.local_click_bulking{
    text-decoration: none;
    width: 100%;
}
.titulo_bulking{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}
.texto_bulking{
    width: 90%;
    padding-left: 15px;
    text-align: justify;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}