/*login */
.container_login{
    width: 100%;
    height: 100%;
    background-image:url("https://www.saudeemdia.com.br/media/_versions/dieta_anti-inflamatoria_1_widexl.jpg");
}
.login{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 500px;
    background-color: #0e274def;
    gap: 30px;
    border-radius: 10px;
}
.text_login{
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.user_login,.senha_login{
    width: 200px;
    text-align: center;
    height: 22px;
    font-weight: 600;
    font-size: 19px;
    border-radius: 10px;
    padding: 5px;
}
.efetuar_login{
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.ir_cadastro{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
.ir_cadastro:hover{
    background: linear-gradient(to right, #18acba, #5bafe4); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    border-radius: 10px;
    border: #000000 1.5px solid;
    padding: 10px;
    color: #0E274D;
}
.ir_cadastro:active{
    background-color: green;
    color: white;
}
.efetuar_login:active{
    background-color: green;
    color: #FFFCFC;
}
.ir_cadastro:before {
    content: '';
    background: linear-gradient(to right, #4382c9, #5bafe4); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
  .ir_cadastro:after {
    content: '';
    background: #fff;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
  }