<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block 'title'%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/criar_dieta.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/introducao.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/tmb.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    
</head>
<body>
    <header>
        <nav>
            <div class="select_home">
                <a href="{%url 'home'%}">
                    <img src="{% static 'img\logo_jovem_programador.png' %}" alt="">
                </a>
            </div>
            <div class="select_opçoes">
                <div class="user">
                    {%if user.is_authenticated%}
                    <a href="{%url 'login'%}"><i class="fa-solid fa-user-gear"></i></a>
                    {%else%}
                    <a href="{%url 'login'%}"><i class="fa-solid fa-user-large"></i>Login</a>
                    {%endif%}
                </div>
                <div class="criar_diet">
                    <a href="{%url 'introdução'%}"><i class="fa-solid fa-person-circle-plus"></i>Criar dieta</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        {%block 'sections'%}
        {%endblock%}
    </div>
    
</body>
<script src="" >
    
</script>
</html>